{% extends "crud/template.html" %}
{% block pages %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Dashboard</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
			<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
				<span data-feather="calendar"></span>
				This week
			</button>
		</div>
	</div>

	<h2>{{ product.name }}</h2>
	<div>
		<form method="POST">
			{% csrf_token %}
		<div class="mb-3">
			<label class="form-label">Nama</label>
			{{ form.name }}
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="mb-3">
					<label class="form-label">Harga</label>
					{{ form.price }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="mb-3">
					<label class="form-label">Jumlah</label>
					{{ form.qty }}
				</div>
			</div>
		</div>
		
		<div class="mb-3">
			<label class="form-label">Deskripsi</label>
			{{ form.desc }}
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-primary btn-sm">Update</button>
		</div>
		</form>
	</div>
</main>
{% endblock pages %}